In [1]:
import pandas as pd

In [9]:
student_data = [(1,15), (2,11), (3,11), (4,20)]

In [11]:
columns = ["student_id", "age"]

In [13]:
students = pd.DataFrame(data=student_data, columns=columns)

In [15]:
students

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [21]:
rows = len(students) # len is function that returns the 
                    # length of what's inside

In [23]:
print(f"The students dataset has {rows} rows")

The students dataset has 4 rows

In [25]:
print(f"The students dataset has {columns} columns")

The students dataset has ['student_id', 'age'] columns